.section-testimonial {
  margin-bottom: 8rem !important;
  padding: 0rem 10rem !important;
  @media only screen and (max-width: $bp-medium-tab) {
    margin-bottom: 4rem !important;
    padding: 0rem !important;
  }
  &__content {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 2rem !important;
    @media only screen and (max-width: $bp-medium-tab) {
      gap: 1rem !important;
    }
  }
  &__heading {
    text-align: center;
  }
  &__author {
    font-size: 2rem;
    font-weight: 600;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }
}
