.section-average {
  display: flex;
  gap: 4rem;
  margin-bottom: 10rem;
  @media only screen and (max-width: $bp-medium-tab) {
    flex-direction: column;
    margin-bottom: 4rem;
  }
  @media only screen and (max-width: $bp-small) {
    gap: 2rem;
  }
  &__img {
    background-image: url(../assets/images/image-not-average-desktop.webp);
    background-size: cover;
    width: 80%;
    height: auto;
    border-radius: 5px;
    position: relative;
    @media only screen and (max-width: $bp-medium-tab) {
      background-image: url(../assets/images/image-not-average-tablet.webp);
      width: 100%;
      height: 80rem;
    }
    @media only screen and (max-width: $bp-small) {
      background-image: url(../assets/images/image-not-average-mobile.webp);
      height: 35rem;
    }
  }
  &__logos-tech {
    position: absolute;
    bottom: 0;
    left: -6rem;
    cursor: pointer;
    @media only screen and (max-width: $bp-medium-tab) {
      bottom: 20%;
      left: 80%;
    }
    @media only screen and (max-width: $bp-small) {
      bottom: 10%;
      left: 60%;
    }
  }
  &__content {
    padding: 10rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    width: 80%;
    @media only screen and (max-width: $bp-medium-tab) {
      width: 100%;
      gap: 1.8rem;
      padding: 0rem !important;
    }
  }
  &__heading {
    z-index: -1;
  }

  &__description {
    padding-right: 8rem;
    @media only screen and (max-width: $bp-medium-tab) {
      padding-right: 0rem;
    }
  }
  &__club {
    background-image: url(../assets/images/pattern-circle.png);
    padding: 0.6rem;
    background-size: cover;
  }
}
