.section-membership {
  padding: 5 10rem;
  margin-bottom: 10rem !important;
  width: 100% !important;
  @media only screen and (max-width: $bp-medium-tab) {
    margin-bottom: 5rem !important;
    padding: 0rem !important;
  }
  &__content {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 5rem !important;
    @media only screen and (max-width: $bp-medium-tab) {
      gap: 5rem !important;
    }
  }
  &__plans {
    display: flex !important;
    gap: 2.4rem !important;
    align-items: flex-start;
    @media only screen and (max-width: $bp-medium-tab) {
      flex-wrap: wrap !important;
      gap: 1rem !important;
      align-items: center;
      justify-content: center;
    }
  }
  &__plan {
    width: 27rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 5px;
    border: 1px solid #f1f3f5;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translateY(-5px);
    }
    @media only screen and (max-width: $bp-medium-tab) {
      width: 22rem;
      padding: 1.8rem;
    }
    @media only screen and (max-width: $bp-small) {
      width: 32rem;
      padding: 2rem;
    }
  }
  span {
    font-size: 2.2rem !important;
    font-weight: 700 !important;
    opacity: 1 !important;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 1.2rem !important;
  }
  &__text {
    display: flex;
    gap: 1rem !important;
    align-items: center;
    opacity: 1 !important;
  }
  &__icon {
    height: 1.8rem !important;
    width: 1.8rem !important;
  }

  &__btn {
    width: 100% !important;
    padding: 2rem 1.2rem !important;
    height: 0 !important;
    font-size: 1.4rem !important;
    border: 1px solid #062630 !important;
  }
  &__plan--pro {
    padding: 4rem 2rem !important;
    width: 27rem;
    background: linear-gradient(to bottom, antiquewhite, #06263012);
    border: 1px solid #f1f3f5;
    margin-top: -2rem;
    @media only screen and (max-width: $bp-medium-tab) {
      width: 22rem;
      padding: 1.8rem !important;
      margin-top: 0rem;
    }
    @media only screen and (max-width: $bp-small) {
      width: 32rem;
      padding: 2rem;
    }
  }
}
